.content {
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 55px);
}
.list {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  list-style: none;
  padding: 0;
}
.list_scrollable {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: 0;
  padding: 0;
  height: calc(100vh - 616px);
  min-height: 214px;
  overflow-y: scroll;
}
.list_scrollable::-webkit-scrollbar {
  width: 8px;
}

.list_scrollable::-webkit-scrollbar-track {
  background: #2f2f37;
}
.list_scrollable::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
  box-sizing: border-box;
}

.item_container {
  width: 100%;
}
.item_text {
  flex-grow: 1;
}
.item_wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.item_wrapper_type_top {
  width: calc(100% - 40px);
}
.item_wrapper_type_bottom {
    width: calc(100% - 40px);
  }
.icon_container {
  display: flex;
}
.price_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
