
@font-face {
  font-family: 'JetBrainsMono';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("./JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Iceland';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Iceland-Regular.woff2") format("woff2"),
       url("./Iceland-Regular.woff") format("woff");
}
