.card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
  }
  .price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .image {
    max-width: 240px;
    min-width: 218px;
    width: calc(((100vw - 40px) / 2 - 56px) / 2);
  }
  .counter {
    position: absolute;
    top: 0;
    right: 0;
  }
  .name {
    text-align: center;
  }