@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');

.body {
  min-height: 100vh;
  position: relative;
}


.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.constructor-element__text {
  flex-grow: 1;
}
.constructor-element {
  width: 100%;
}