.section {
  display: flex;
  flex-direction: column;
  width: calc(50% - 55px);
  width: 600px;

}

.list {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: calc(50% - 16px) calc(50% - 16px);
  grid-template-rows: auto;
  column-gap: 32px;

}

.lists_wrapper {
  height: calc(100vh - 342px);
  min-height: 406px;
  overflow-y: scroll;
}
.lists_wrapper::-webkit-scrollbar {
  width: 8px;
}

.lists_wrapper::-webkit-scrollbar-track {
  background: #2f2f37;

}
.lists_wrapper::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
  box-sizing: border-box;
}
.list_anchor {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image {
  max-width: 240px;
  min-width: 218px;
  width: calc(((100vw - 40px) / 2 - 56px) / 2);
}
.counter {
  position: absolute;
  top: 0;
  right: 0;
}
.name {
  text-align: center;
}

@media (max-width: 768px) {
  .list {
    width: calc(100% - 16px);
    max-width: 100%;
    outline: 1px solid red;
  }
  .card {
    width: calc((100% - 16px) / 2);
  }
  .image {
    max-width: unset;
    width: 100%;
    min-width: 144px;
  }
}
