.link {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.text {
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.text:hover {
  color: #fff;
}

.link_type_account {
    justify-self: flex-end;
}
